@import "tailwindcss";

@theme {
  --dark-color: #161619;
  --black-color: #0c0c0f;
  --dark-shade-color: #242429;
  --dark-shade-lighter-color: #272730;
  
  --subtle-light-color: #b4afb0;
}

* {
  font-family: Poppins, sans-serif;
}



body {
  background-color: var(--black-color);
}

.card {
  @apply rounded-2xl text-white p-5 shadow-[-5px_10px_20px_rgba(255,255,255,0.03)];
  background-color: var(--dark-color);
}

.hover-item {
  @apply opacity-80 hover:opacity-100 cursor-pointer transition-all duration-150 hover:translate-y-[-3px];
}

.text-hover {
  @apply opacity-80 hover:opacity-100 transition-all duration-200 cursor-default;
}

.selected-experience {
  background-color: var(--dark-shade-color);
}

.experience-item {
  transition: all 0.16s;
}

.experience-item:hover {
  background-color: var(--dark-shade-lighter-color);
}

#experience-content {
  border-color: var(--subtle-light-color)
}